body {
    font-family: Verdana;
}
/*CUSTOM SELECTOR */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-image: none;
  }
.container {
    margin: 10px auto 0 auto;
    width: 100%;
    max-width: 960px;
    background: linear-gradient( #42cef5 , #b1dae6 , lightblue);
   
}
div{
    margin-left: 10px;

}
button {
    width:200px; 
    height:30px;
    background-color: #0c569b;
    color: #fffefe;
    margin: 12px;
    border-radius: 20px;
    border: 0 none  ;
}
.small-button {
    width:120px; 
    margin-top: 24px;
    height: 24px;
    background-color:  #0c569b;
    color: #fffefe;
    margin: 12px;

}
*:focus {
    outline: none;
}
h1 {
    font-size: 22px;
}
select {
    width: auto;
    border-radius: 20px;
    font-size: 20px; 
    padding: 6px;
    margin-bottom: 3px;
}
label {
    font-size: 10px;
    font-weight: bold;
    width: 200px;
    display:inline-block;
    margin-top: 6px;
   
}

.component__weather-box {
    margin: 30px auto;
    width: 500px;
    border: 1px solid #37aedd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 5px 20px 1px rgb(26, 10, 85);
  }
  
  .component__weather-content {
    position: relative;
    overflow: hidden;
    color: #fff;
    background: #0778c4;
    height: 120px;
  }
  .component__weather-content:hover {
    position: relative;
    overflow: hidden;
    color: #fff;
    background: #0778c4;
    height: 300px;
  }
  
  .component__weather-content:before {
    content: "";
    display:inline-flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 200%;
    z-index: 1;
    opacity: 0.3;
    /* background-image: url("https://nunnz.files.wordpress.com/2013/11/4.jpg");
    background-repeat: no-repeat;
    background-position: 0 63%;
    background-size: cover; */
  }
  
  .weather-content__overview {
    width: 50%;
    text-align: center;
    display:block;
   /*  float: left; */
    z-index: 2;
    position: relative;
  }
  
  h1 {

    font-size: 20px;
    line-height: 40px;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0.75em;
  }
  
  .weather-content__temp {
    display: flex;
    flex-direction: row;
  }
  .weather-content__temp div {
    font-size: 30px;
    flex: 1;
    text-align: center;
  }
  
  .weather-content__temp .degrees {
    line-height: 40px;
  }
  
  .weather-content__temp .wi-degrees {
    margin-left: -10px;
    vertical-align: top !important;
  }
  
  .currentTemp .wi {
    margin-right: 20px;
    font-size: 25px;
    vertical-align: baseline;
  }
  
  .component__forecast-box {
    display: flex;
    flex-direction: row;
   
  }
  
  .forecast__item {
    flex: 1;
    text-align: center;
  }
  
  
  .forecast-item__heading {
    background: #4577b9;
    border: 1px solid #5696eb;
    border-left: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: 200;
    padding: 10px;
  
  }
  
  .forecast-item__info {
    background: #fff;
    color: #4577b9;
    padding-bottom: 10px;
    border-right: 1px solid #5696eb;
  }
  
  .forecast-item__info .wi {
    display: block;
    margin: 0 auto;
    font-size: 24px;
    padding: 15px 0;
  }
  
  .forecast-item__info .degrees {
    font-size: 15px;
    line-height: 20px;
  }
  
  .forecast-item__info .degrees .wi-degrees {
    display: inline;
  }
  
  small {
    font-size: 12px;
  }